/* re-usable styles */
.h-list li{
  display: inline;
  margin: 0 4px;
  padding: 0;
  list-style-type: none;
}

/* pub-date */
.pub-date {
  font-size: 90%;
  color: #A9A9A9;
}

/* Header */
.head header {
  background-color: rgba(255, 255, 255, 0.8);
  margin-top: 10px;
  font-size: 12px;
  text-align: center;
  width: 100%;
  z-index: 99999;
}

.head {
  margin-bottom: 20px;
}

/* Navigation */
nav a.current {
  color: red;
}

nav {
  background: transparent url(/css/images/navigation-background.gif) 0 bottom repeat-x;
}

nav a {
  font-size: 1.5em;
}

nav li{
  display: inline;
  margin: 0 4px 0 40px;
  padding: 0;
  list-style-type: none;
}

nav ul.social {
  text-align: right;
}

nav ul.social li {
  margin: 0;
}

/* Footer */
footer {
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 12px;
    text-align: center;
    width: 100%;
    z-index: 99999;
}