<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>{{ page.title }} | fjuan.es</title>

  <link rel="stylesheet" href="/css/style.css" />  
  <link rel="stylesheet" href="/css/reset.css" />
  <link rel="stylesheet" href="/css/oocss.min.css" />
  
  <link href="http://feeds.feedburner.com/fjuan" rel="alternate" title="RSS de fjuan.es" type="application/atom+xml" />
  
  <script src="/js/modernizr-1.7.min.js"></script>
  
</head>
<body>
  <div class="page">
    <div class="head">
      <header>
        <hgroup>
          <h1><a href="/" title="www.fjuan.es">www.fjuan.es</a></h1>
          <h3>Pensamientos aleatorios sobre web, libros, deportes &amp; comida</h3>
        </hgroup>
      </header>    
      
      <nav>
        <ul class="unit size1of2">
          <li><a href="/" title="Inicio">Inicio</a></li>
          <li><a href="/books" title="Libros">Libros</a></li>
          <li><a href="/about" title="Sobre fjuan">Sobre mi</a></li>
        </ul>
        
        <ul class="social unit size1of2 lastUnit">
          <li><a href="http://twitter.com/fjuan" rel="external"><img src="/css/images/twitter.png" width="40px" /></a></li>
          <li><a href="http://www.facebook.com/fjuan" rel="external"><img src="/css/images/facebook.png" width="40px" /></a></li>
          <li><a href="http://delicious.com/fjuan" rel="external"><img src="/css/images/delicious.png" width="40px" /></a></li>
          <li><a href="http://es.linkedin.com/in/franciscodejuan" rel="external"><img src="/css/images/linkedin.jpg" width="40px" /></a></li>
        </ul>
      </nav>
    </div><!-- head -->