<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="/">fjuan.es</a>
      
      <div class="nav-collapse" id="main-menu">
        <ul class="nav pull-right">
        	<li><a href="http://www.splendeo.es" title="Splendeo Innovación">Splendeo <i class="icon-share-alt"></i></a></li>
        	<li><a href="http://www.recetasdemama.es/" title="Recetas de Mamá">Recetas de Mam&aacute; <i class="icon-share-alt"></i></a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div><!--/.container -->
  </div><!--/.navbar-inner -->
</div><!--/.navbar navbar-fixed-top -->