    <link rel="stylesheet" href="/assets/stylesheets/pure/1.0.1/base-min.css">
    <link rel="stylesheet" href="/assets/stylesheets/pure/1.0.1/pure-min.css">
    <!--[if lte IE 8]>
      <link rel="stylesheet" href="/assets/stylesheets/pure/1.0.1/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
      <link rel="stylesheet" href="/assets/stylesheets/pure/1.0.1/grids-responsive-min.css">
    <!--<![endif]-->
    <link rel="stylesheet" href="/assets/stylesheets/layouts/blog.css">

    <link rel="stylesheet" href="/assets/stylesheets/fontawesome/5.12.0/all.min.css">

    <link rel="stylesheet" href="/assets/stylesheets/main.css">

    <script src="/assets/javascript/vendor/modernizr-2.8.3.min.js"></script>
  </body>
</html>
