<div class="rightCol">
  
  <section id="links">
    <header>
      <h3>Enlaces</h3>
    </header>
    <ul>
      <li><a href="http://www.recetasdemama.es" rel="external">Recetas de mam&aacute;</a></li>
      <li><a href="http://runkeeper.com/user/fjuan" rel="external">Perfil de Runkeeper</a></li>
      <li><a href="http://www.amazon.com/gp/registry/wishlist/8E2P6PZF4ZHF" rel="external">Wish List (Amazon)</a></li>
    </ul>
  </section>
  
  <section id="twitter" class=block>
    <h3>Twitter</h3>
    <ul id="twitter_update_list"></ul>
    <p id="more-tweets"><a href="http://twitter.com/fjuan">S&iacute;gueme en Twitter</a></p>
  </section>
  
</div> <!-- rightCol -->