<div class="sidebar pure-u-1 pure-u-md-1-4">
  <div class="header">
    <h1 class="brand-title"><a href="/">Francisco Juan</a></h1>
    <h2 class="brand-tagline">Engineer Manager</h2>

    <nav class="nav local-anchors">
      <ul class="nav-list">
        <li><a href="#me">About</a></li>
        <li><a href="#my-work">Working with software</a></li>
        <li><a href="#my-time">Publishing recipes</a></li>
      </ul>
    </nav>

    <nav class="nav">
      <ul class="nav-list">
        <li class="nav-item"><a class="pure-button" href="https://github.com/fjuan" title="Find me on GitHub"><i class="fab fa-github"></i></a></li>
        <li class="nav-item"><a class="pure-button" href="https://www.linkedin.com/in/franciscojuan" title="Find me on LinkedIn"><i class="fab fa-linkedin"></i></a></li>
        <li class="nav-item"><a class="pure-button" href="http://stackoverflow.com/users/253956/fjuan" title="Find me on Stack Overflow"><i class="fab fa-stack-overflow"></i></a></li>
        <li class="nav-item"><a class="pure-button" href="https://keybase.io/fjuan" title="Find me on Keybase"><i class="fab fa-keybase"></i></a></li>
        <li class="nav-item"><a class="pure-button" href="assets/docs/cv.francisco-juan.jul-2017.pdf" title="Download my curriculum vitae"><i class="fas fa-file-pdf"></i></a></li>
      </ul>
    </nav>
  </div>
</div>
