<div class="sidebar pure-u-1 pure-u-md-1-4">
  <div class="header">
    <h1 class="brand-title"><a href="/">Francisco Juan</a></h1>
    <h2 class="brand-tagline">Engineer Manager</h2>

    <nav class="nav local-anchors" aria-label="main navigation">
      <ul class="nav-list">
        <li><a href="#me">About</a></li>
        <li><a href="#my-work">Working with software</a></li>
        <li><a href="#my-time">Publishing recipes</a></li>
      </ul>
    </nav>

    <nav class="nav" aria-label="Links to networks and CV">
      <ul class="nav-list">
        <li class="nav-item">
          <a class="pure-button" href="https://github.com/fjuan" aria-label="Github" title="Find me on GitHub">
            <em aria-hidden="true" class="icon-github-circled"></em>
          </a>
        </li>
        <li class="nav-item">
          <a class="pure-button" href="https://www.linkedin.com/in/franciscojuan" aria-label="LinkedIn" title="Find me on LinkedIn">
            <em aria-hidden="true" class="icon-linkedin-squared"></em>
          </a>
        </li>
        <li class="nav-item">
          <a class="pure-button" href="http://stackoverflow.com/users/253956/fjuan" aria-label="Stack Overflow" title="Find me on Stack Overflow">
            <em aria-hidden="true" class="icon-stackoverflow"></em>
          </a>
        </li>
        <li class="nav-item">
          <a class="pure-button" href="https://keybase.io/fjuan" aria-label="Keybase" title="Keybase">
            <em aria-hidden="true" class="icon-key"></em>
          </a>
        </li>
        <li class="nav-item">
          <a class="pure-button" href="assets/docs/cv.francisco-juan.jul-2017.pdf" aria-label="Curriculum vitae" title="Download my curriculum vitae">
            <em aria-hidden="true" class="icon-file-pdf"></em>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
