@import "normalize/8.0.1/normalize.css";
@import "pure/1.0.1/base-min.css";
@import "pure/1.0.1/pure-min.css";
@import "pure/1.0.1/grids-responsive-min.css";
@import "layouts/blog.css";
@import "fontello.css";

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

body {
  background-color: #EFEFEF;
}

a {
    text-decoration: none;
    color: rgb(61, 146, 201);
}
a:hover,
a:focus {
    text-decoration: underline;
}

.sidebar {
   background: rgb(43, 78, 114) none repeat scroll 0 0;
   color: #fff;
}

.sidebar a {
  color: #fff;
}

.brand-title {
  text-transform: none;
}

.post-category-ruby {
  background: #df2d4f;
}

.post-category-tech {
  background: rgb(43,78,114);
}

nav ul, nav ol {
  list-style: none;
  list-style-image: none;
}

.content-subhead {
  border-bottom: 1px solid #bbb;
}

.local-anchors {
  display: none;
}

@media screen and (min-width: 768px) {
  .local-anchors {
    display: block;
    margin: 1em 0;
  }
}
