{% include page_start.html %}
{% include navbar.html %}
{% include header.html %}

<div class="container">
  <ul class="nav nav-pills pull-right">
    <li class="nav-header">Social</li>
    <li><a href="https://github.com/fjuan" title="Follow me on GitHub"><i class="icon-github"></i></a></li>
    <li><a href="http://www.linkedin.com/in/franciscodejuan" title="Follow me on LinkedIn"><i class="icon-linkedin"></i></a></li>
    <li><a href="http://www.facebook.com/fjuan" title="Follow me on Facebook"><i class="icon-facebook"></i></a></li>
    <li><a href="http://twitter.com/fjuan" title="Follow me on Twitter"><i class="icon-twitter"></i></a></li>
    <li><a href="https://plus.google.com/104782495138465721458/" title="Follow me on Google Plus"><i class="icon-google-plus"></i></a></li>
  </ul>
</div>

<div class="container">
  <div class="row">
    {{ content }}
  </div><!-- row -->
</div><!-- container -->
  
{% include footer.html %}
{% include page_end.html %}